extends layout

block content

  #app.container
    ul.week-list(v-cloak v-if="list.length")
      li.row(v-for="(day, index) of weekDays") {{ weekList[index] }}
        ul
          card.col-md-3(
            v-for="(item, x) of day",
            @on-card-remove-from-favorite="removeFromWeekArray(item, index)",
            @on-card-click="onCardClick(item)",
            :item="item",
            :key="item.aid"
          )
    .no-video-tip.text-center(v-else) no favorite video available
  script(src="/js/favorite.js")