extends layout

block content

  #app.container
    .tv-list(v-if="false")
      .row(v-for="i in Math.ceil(list.length / 3)" v-if="list.length")
        card(
          v-for="item in list.slice((i - 1) * 3, 3 * i)",
          :item="item",
          :key="item.aid",
          @on-card-remove-from-favorite="removeFromFavoriteList",
        )
      .no-video-tip.text-center(v-else) no favorite video available
    ul.week-list(v-cloak)
      li.row(v-for="(day, index) of weekDays") {{ weekList[index] }}
        ul
          li.col-md-3(v-for="(item, x) of day")
            .img
              img(:src="item.img")
              span.glyphicon(:class="[item.isFavorite ? 'glyphicon-heart' : 'glyphicon-heart-empty']" @click="removeFromWeekArray(item, index)")
            p {{ item.title }}
  script(src="/js/favorite.js")