extends layout

block content
  #app.container
    form.form-inline
      input.form-control(type="text" id="search" placeholder="Search" v-model="searchingText")
    .tv-list
      .row(v-for="i in Math.ceil(filteredList.length / 3)")
        card(
          v-for="item in filteredList.slice((i - 1) * 3, 3 * i)",
          :item="item",
          :key="item.aid",
          @on-card-click="onCardClick",
          @on-card-add-to-favorite="addToFavorite",
          @on-card-remove-from-favorite="removeFromFavorite"
        )
      vue-infinite-loading(
        :on-infinite="getMore",
        ref="infiniteLoading",
        spinner="waveDots"
      )
        span(slot="no-more") No more
      button.btn.btn-default.btn-block(@click="getMore") Get More
  script(src="/js/index.js")
