doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//unpkg.com/bootstrap@next/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css")
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    script(src="//unpkg.com/axios/dist/axios.min.js")
    script(src="//unpkg.com/vue@latest")
    script(src="//unpkg.com/tether@latest/dist/js/tether.min.js")
    script(src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js")
  body
    block content