@charset "UTF-8";
.card > div .card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }
  100% {
    opacity: 1;
    transform: none; } }
.fadeInRight {
  animation-name: fadeInRight; }

@keyframes fadeOutLeft {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
.fadeOutLeft {
  animation-name: fadeOutLeft; }

@keyframes bounceIn {
  0%,
    100%,
    20%,
    40%,
    60%,
    80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  20% {
    transform: scale3d(1.1, 1.1, 1.1); }
  40% {
    transform: scale3d(0.9, 0.9, 0.9); }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }
  80% {
    transform: scale3d(0.97, 0.97, 0.97); }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
.bounceIn {
  animation-name: bounceIn; }

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }
  50%,
    55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
.bounceOut {
  animation-name: bounceOut; }

@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1; } }
.rotateIn {
  animation-name: rotateIn; }

@keyframes rotateOut {
  0% {
    transform-origin: center;
    opacity: 1; }
  100% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
.rotateOut {
  animation-name: rotateOut; }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }
.zoomIn {
  animation-name: zoomIn; }

@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }
.zoomOut {
  animation-name: zoomOut; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  padding-top: 70px; }
  body.pc .card > div .card-image span.glyphicon-heart:hover {
    color: lightgray;
    transform: scale(1.5); }
    body.pc .card > div .card-image span.glyphicon-heart:hover:before {
      content: ""; }
  body.pc .card > div .card-image span.glyphicon-heart-empty:hover {
    color: #e60b97;
    transform: scale(1.5); }
    body.pc .card > div .card-image span.glyphicon-heart-empty:hover:before {
      content: ""; }
  body.pc #to-top:hover {
    transform: scale(1.3);
    color: red; }

#to-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  text-align: center;
  z-index: 1; }
  #to-top span {
    font-size: 4em;
    color: rgba(255, 0, 0, 0.5);
    transition: all 0.2s ease-in; }

ul {
  list-style: none; }

[v-cloak] {
  display: none; }

.tv-list {
  padding: 0; }

.fadeInRight {
  animation: fadeInRight 0.5s; }

.fadeOutLeft {
  animation: fadeOutLeft 0.5s; }

.bounceIn {
  animation: bounceIn 0.5s; }

.bounceOut {
  animation: bounceOut 0.5s; }

.rotateIn {
  animation: rotateIn 0.5s; }

.rotateOut {
  animation: rotateOut 0.5s; }

.zoomIn {
  animation: zoomIn 0.5s; }

.zoomOut {
  animation: zoomOut 0.5s; }

.card > div {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box; }
  .card > div .card-image {
    position: relative;
    overflow: hidden;
    cursor: pointer; }
    .card > div .card-image img {
      width: 100%;
      border-radius: 2px 2px 0 0;
      background-clip: padding-box;
      position: relative;
      z-index: -1;
      max-height: 400px; }
    .card > div .card-image span.glyphicon-heart-empty, .card > div .card-image span.glyphicon-heart {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 1.5em;
      color: lightgray;
      transition: all 0.3s linear; }
    .card > div .card-image span.glyphicon-heart {
      color: #e60b97; }
  .card > div .card-content {
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box; }
    .card > div .card-content p {
      margin: 0;
      color: inherit; }
    .card > div .card-content span.card-title {
      line-height: 48px; }
  .card > div .card-bottom {
    padding: 0 10px; }

ul.week-list > li {
  margin: 10px 0;
  font-size: 1.2em; }
  ul.week-list > li ul {
    border-top: 1px solid grey;
    margin-top: 5px;
    padding-left: 0;
    font-size: initial;
    overflow: hidden; }
    ul.week-list > li ul .card {
      margin: 10px 0; }

.form-inline {
  margin-bottom: 20px; }
